<!-- tailor_app/templates/tailor_app/edit_order.html -->
{% extends 'tailor_app/base.html' %}
{% load widget_tweaks %}
{% block title %}Edit Order #{{ order.id }}{% endblock %}

{% block content %}
<h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">Edit Order #{{ order.id }}</h2>

{% comment %} <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Edit Order #{{ order.id }}</h1>
</div> {% endcomment %}

<form method="post" novalidate class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">
    {% csrf_token %}
    <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
        Order Details
    </h4>
    {% for field in form %}
        <label class="block text-sm">
        <span class="text-gray-700 dark:text-gray-400">{{ field.label }}</span>
        {{ field }}
        </label>
    {% endfor %}
    <div class="mt-4"></div>
    <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
        Materials Used
    </h4>
    {{ material_formset.management_form }}
    {% for form in material_formset %}
        <div class="grid grid-cols-12 gap-4 items-center mb-2">
            <div class="col-span-5">{{ form.material }}</div>
            <div class="col-span-4">{{ form.quantity_used }}</div>
            <div class="col-span-3 text-red-700">{{ form.DELETE|add_class:"text-purple-600 form-checkbox focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray" }} Delete</div>
        </div>
    {% endfor %}
    <div class="mt-4"></div>
    <button type="submit" class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">Update Order</button>
    <button class="w-full px-5 py-3 text-sm font-medium leading-5 text-white text-gray-700 transition-colors duration-150 border border-gray-300 rounded-lg dark:text-gray-400 sm:px-4 sm:py-2 sm:w-auto active:bg-transparent hover:border-gray-500 focus:border-gray-500 active:text-gray-500 focus:outline-none focus:shadow-outline-gray">
        <a href="{% url 'tailor_app:order_detail' order.id %}">Cancel</a>
    </button>
</form>

{% comment %} <form method="post" novalidate>
    {% csrf_token %}
    <div class="card shadow-sm border-0 mb-4">
        <div class="card-header bg-light border-0"><h5 class="mb-0">Order Details</h5></div>
        <div class="card-body">
             {% for field in form %}
                <div class="form-floating mb-3">
                    {{ field }}
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                </div>
            {% endfor %}
        </div>
    </div>
    
    <div class="card shadow-sm border-0 mb-4">
        <div class="card-header bg-light border-0"><h5 class="mb-0">Materials Used</h5></div>
        <div class="card-body">
            {{ material_formset.management_form }}
            {% for form in material_formset %}
                <div class="row align-items-center mb-2">
                    <div class="col-md-6">{{ form.material }}</div>
                    <div class="col-md-4">{{ form.quantity_used }}</div>
                    <div class="col-md-2">{{ form.DELETE }}</div>
                </div>
            {% endfor %}
        </div>
    </div>

    <button type="submit" class="btn btn-primary btn-lg mt-3">Update Order</button>
    <a href="{% url 'tailor_app:order_detail' order.id %}" class="btn btn-secondary btn-lg mt-3">Cancel</a>
</form> {% endcomment %}
{% endblock %}
