<!-- tailor_app/templates/tailor_app/workflow_template_list.html -->
{% extends 'tailor_app/base.html' %}
{% block title %}Workflow Templates{% endblock %}

{% block content %}
<div class="flex justify-between items-center">
    <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">Workflow Templates</h2>
    <a href="{% url 'tailor_app:create_workflow' %}" class="px-5 py-3 font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
        Create New Template
    </a>
</div>

{% comment %} <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Workflow Templates</h1>
    <a href="{% url 'tailor_app:create_workflow' %}" class="btn btn-primary"><i data-feather="plus" class="me-1"></i> Create New Template</a>
</div> {% endcomment %}

<div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">
    {% for template in templates %}
        <div class="flex justify-between items-center p-2 text-lg font-bold text-gray-600 dark:text-gray-400">
            <h5 class="mb-0">{{ template.name }}</h5>
            <a href="{% url 'tailor_app:edit_workflow' template.id %}" class="font-normal w-full px-5 py-3 text-sm font-medium leading-5 text-white text-gray-700 transition-colors duration-150 border border-gray-300 rounded-lg dark:text-gray-400 sm:px-4 sm:py-2 sm:w-auto active:bg-transparent hover:border-gray-500 focus:border-gray-500 active:text-gray-500 focus:outline-none focus:shadow-outline-gray">Edit</a>
        </div>
        <hr class="last:hidden">
    {% empty %}
        <div class="list-group-item text-center p-5"><h5 class="text-muted">You have not created any workflow templates yet.</h5></div>
    {% endfor %}
</div>
{% endblock %}

