<!-- portal/templates/portal/request_appointment.html -->
{% extends 'portal/base.html' %}
{% block title %}Request Appointment{% endblock %}

{% block content %}

<h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">Request an Appointment</h2>

{% comment %} <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Request an Appointment</h1>
</div> {% endcomment %}

<div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">
    <form method="post" novalidate>
        {% csrf_token %}
        {% for field in form %}
            <label class="block text-sm mb-4">
            <span class="text-gray-700 dark:text-gray-400">{{ field.label }}</span>
            {{ field }}
            </label>

            {% if field.errors %}
            <span class="text-xs text-red-600 dark:text-red-400">
                {{ field.errors.as_text }}
            </span>
            {% endif %}
        {% endfor %}
        <button type="submit" class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
            Submit Request
        </button>
    </form>
</div>

<!-- <div class="card shadow-sm border-0">
    <div class="card-body p-4">
        <form method="post" novalidate>
            {% csrf_token %}
            {% for field in form %}
                <div class="form-floating mb-3">
                    {{ field }}
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                </div>
                {% if field.errors %}
                    <div class="alert alert-danger p-2">
                        {{ field.errors.as_text }}
                    </div>
                {% endif %}
            {% endfor %}
            <button type="submit" class="btn btn-primary btn-lg w-100 mt-3">Submit Request</button>
        </form>
    </div>
</div> -->
{% endblock %}

