<!-- accounts/templates/accounts/signup.html -->
{% extends 'tailor_app/base.html' %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Sign Up</h3>
            </div>
            <div class="card-body">
                <form method="post" novalidate>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success w-100">Sign Up</button>
                </form>
            </div>
            <div class="card-footer text-center">
                <p>Already have an account? <a href="{% url 'accounts:login' %}">Log In</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

