<!-- accounts/templates/accounts/signup.html -->
{% extends 'accounts/base_accounts.html' %}

{% block title %}Sign Up - The Digital Thread{% endblock %}
{% block card_title %}Create your Tailor account.{% endblock %}

{% block content %}
<form method="post" novalidate>
    {% csrf_token %}

    {% for field in form %}
    <div class="form-floating mb-3">
        {{ field }}
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% if field.help_text %}
            <div class="form-text">{{ field.help_text|safe }}</div>
        {% endif %}
    </div>
     {% if field.errors %}
        <div class="alert alert-danger p-2">
            {{ field.errors.as_text }}
        </div>
    {% endif %}
    {% endfor %}

    <button type="submit" class="btn btn-success w-100 btn-lg mt-3">Create Account</button>

    <div class="text-center mt-4">
        <p class="text-muted">Already have an account? <a href="{% url 'accounts:login' %}">Log In</a></p>
    </div>
</form>
{% endblock %}

